# ------------------------------------------------
# for SQL Server
# ------------------------------------------------
# 使用許諾契約書の同意
ACCEPT_EULA=Y
# タイムゾーンの設定
TZ=Asia/Tokyo
# 照合順序
MSSQL_COLLATION=Japanese_CI_AS
# 言語
MSSQL_LCID=1041
# SQLServerAgent
MSSQL_AGENT_ENABLED=true
# SAのパスワード（1.大文字、2.小文字、3.数字、4.特殊文字のうち３種類以上を含む8文字以上の文字列）
MSSQL_SA_PASSWORD=YourStrongPassword123!

# ------------------------------------------------
# for Prisma
# ------------------------------------------------
# DBホスト名
DATABASE_HOST=localhost
# DBポート
DATABASE_PORT=1433
# DBユーザー名
DATABASE_USER=sa
# DBパスワード
DATABASE_PASSWORD=${MSSQL_SA_PASSWORD}
# DB名
DATABASE_DATABASE=master
# DBスキーマ
DATABASE_SCHEMA=dbo
# DB暗号化設定
DATABASE_ENCRYPT=true
# DBサーバー証明書の検証が不要かどうか
DATABASE_TRUST_SERVER_CERTIFICATE=true
# DBコネクションプール設定
DATABASE_CONNECTION_POOL_LIMIT=1
# DBコネクションプールタイムアウト（秒）
DATABASE_CONNECTION_POOL_TIMEOUT=10
# Prisma用のDB接続URL
DATABASE_URL=sqlserver://${DATABASE_HOST}:${DATABASE_PORT};database=${DATABASE_DATABASE};user=${DATABASE_USER};password=${DATABASE_PASSWORD};schema=${DATABASE_SCHEMA};encrypt=${DATABASE_TRUST_SERVER_CERTIFICATE};trustServerCertificate=${DATABASE_TRUST_SERVER_CERTIFICATE};connection_limit=${DATABASE_CONNECTION_POOL_LIMIT};pool_timeout=${DATABASE_CONNECTION_POOL_TIMEOUT}

# ------------------------------------------------
# for App
# ------------------------------------------------
# アプリケーション名
APP_NAME="Custom API for UPWARD CONNECT"
# アプリケーションポート
PORT=8787
# フロントエンドのURL
FRONTEND_URL=http://localhost:5173
# セッション管理用シークレット（32文字以上が必要）
APP_SESSION_SECRET=your_strong_secret_*************
# セッション有効期限（分単位、デフォルトは2週間）
APP_SESSION_EXPIRES_IN_MINUTE=20160 # 2週間


# ------------------------------------------------
# for OAuth2 / OIDC
# ------------------------------------------------
# OAuth2のコードの有効期限（分単位）
OAUTH2_AUTH_CODE_EXPIRES_IN_MINUTE=10
# OIDCのアクセストークンのissuer
OIDC_ISSUER=https://auth.example.com
# OIDCのアクセストークン暗号化用のシークレット（10文字以上が必要、32文字以上を推奨）
OIDC_TOKEN_SECRET=your_strong_secret
# OIDCのアクセストークンの有効期限（分単位）
OIDC_TOKEN_EXPIRES_IN_MINUTE=10
# OIDCのリフレッシュトークン暗号化用のシークレット（10文字以上が必要、32文字以上を推奨）
OIDC_REFRESH_TOKEN_SECRET=your_strong_secret
# OIDCのリフレッシュトークンの有効期限（日単位）
OIDC_REFRESH_TOKEN_EXPIRES_IN_DAY=180
# OIDCのIDトークン暗号化用のプライベートキーのローテーション期間（日単位）
OIDC_KEY_ROTATION_PERIOD_IN_DAY=90
# OIDCのIDトークン暗号化用プライベートキーのシークレット（32文字に固定）
OIDC_ENCRYPT_PRIVATE_KEY_SECRET=your_strong_secret_*************