# ------------------------------------------------
# for SQL Server
# ------------------------------------------------
# 使用許諾契約書の同意
ACCEPT_EULA=Y
# タイムゾーンの設定
TZ=Asia/Tokyo
# 照合順序
MSSQL_COLLATION=Japanese_CI_AS
# 言語
MSSQL_LCID=1041
# SQLServerAgent
MSSQL_AGENT_ENABLED=true
# SAのパスワード
MSSQL_SA_PASSWORD=YourStrongPassword123!

# ------------------------------------------------
# for Prisma
# ------------------------------------------------
DATABASE_HOST=localhost
DATABASE_PORT=1433
DATABASE_USER=sa
DATABASE_PASSWORD=${MSSQL_SA_PASSWORD}
DATABASE_DATABASE=master
DATABASE_SCHEMA=dbo
DATABASE_ENCRYPT=true
DATABASE_TRUST_SERVER_CERTIFICATE=true
DATABASE_CONNECTION_POOL_LIMIT=1
DATABASE_CONNECTION_POOL_TIMEOUT=10
DATABASE_URL=sqlserver://${DATABASE_HOST}:${DATABASE_PORT};database=${DATABASE_DATABASE};user=${DATABASE_USER};password=${DATABASE_PASSWORD};schema=${DATABASE_SCHEMA};encrypt=${DATABASE_TRUST_SERVER_CERTIFICATE};trustServerCertificate=${DATABASE_TRUST_SERVER_CERTIFICATE};connection_limit=${DATABASE_CONNECTION_POOL_LIMIT};pool_timeout=${DATABASE_CONNECTION_POOL_TIMEOUT}

# ------------------------------------------------
# for App
# ------------------------------------------------
PORT=8787

OAUTH2_AUTH_CODE_EXPIRES_IN_MINUTE=10
OIDC_ISSUER=https://auth.example.com
OIDC_TOKEN_SECRET=
OIDC_TOKEN_EXPIRES_IN_MINUTE=10
OIDC_REFRESH_TOKEN_SECRET=
OIDC_REFRESH_TOKEN_EXPIRES_IN_DAY=180